<form enctype="multipart/form-data" method="post">
<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
<div class="container">
    <h3 class="wedget__title">Chỉnh sửa thông tin cá nhân</h3>
    <div class="d-flex  py-4 ">
        <img src={{user.profilePic}} class="img align-items-start" id="image" width="150" height="150" name="txtProfilePic">
        <div class="pl-sm-4 pl-2" id="img-section"> 
            <div class="row py-2">
                <div class="col-md-6"> <label for="firstname">Họ</label> <input type="text" name="txtFirstName" class="bg-light form-control" value="{{user.firstName}}"> </div>
                <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Tên</label> <input type="text" name="txtLastName" class="bg-light form-control" value="{{user.lastName}}" > </div>
            </div>
            <label><b>Link ảnh: </b></label>
            <input class="form-control" name="txtProfilePic" value="{{user.profilePic}}"></input> 
        </div>
    </div>
    <div class="py-2">
        <input class="btn button " type="file" name="txtProfilePic" onchange="readURL(this);" ></input>
    </div>
    <div class="py-2">
       
        <div class="row py-2">
            <div class="col-md-6"> <label for="email">Email</label> <input type="text" name="txtEmail" class="bg-light form-control" value="{{user.email}}"> </div>
            <div class="col-md-6 pt-md-0 pt-3"> <label for="phone">Số điện thoại</label> <input name="txtPhone" class="bg-light form-control" value="{{user.phone}}"> </div>
        </div>
        <div class="row py-1">
            <div class="col-md-6"> <label for="email">Địa chỉ</label> <input type="text" name="txtAddress" class="bg-light form-control" value="{{user.address}}"> </div>
        </div>
           
    </div>
        <div class="py-3 pb-4 border-bottom"> <button class="btn btn-primary mr-3" type="submit">Lưu chỉnh sửa</button> <button class="btn border button" href="/">Trở lại trang chủ</button> </div>
    </div>

</div>
</div>
</form>